@model CourseDetailVM

<section class="page__title-area pt-120 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <img class="img-fluid" src3="@Model.SingleCourse.PhotoUrl" alt="Alternate Text" />
            </div>
            <div class="col-lg-5">
<h1>Course Detail- @Model.SingleCourse.Name</h1>
<p>@Model.SingleCourse.Description</p>
            </div>

        </div>
        </div>
</section>