
<h1>Create page</h1>
<div class="col-lg-7">
<form method="post">

    <div>
    <label>Category Name</label>
    <input class="form-control"  type="text" name="CategoryName"/>
    </div>
        <div>
    <label>Description</label>
    <input class="form-control" type="text" name="CategoryDescription"/>
    </div>
        <div>
    <label>Category Name</label>
    <input class="form-control" type="text" name="CategoryIcon"/>
    </div>
 <br/>
    <button class = "btn btn-outline-primary" type="submit">Create Category</button>
</form>
<a class="my-3 btn  btn-warning" href="/educaladmin/category">Back</a>
</div>
